/* header section */

.header-img{
    overflow: hidden;
    width: 38.5rem;
    height: 36rem;
    border-radius: 1.25rem;
}

.header-img img{
    transform: scale(1.45);
    width: 100%;
}

/* about section */

.about-section__box img{
    width: 40.75rem;
    height:36rem;
    border-radius: 1rem;
}

.about-img__style{
    width: 18rem;
    height: 18rem;
    border-radius: 1rem;
    background: rgba(245, 138, 7, 1);
    opacity: 0.7;
    bottom: -2rem;
    right: 0rem;
}

.team-member-img img{
    width: 18.125rem;
    height: 32rem;
    border-radius: 1rem;
}



.team-member__box{
    border-radius: 1rem;
    background: rgba(37, 37, 37, 1);
    bottom:0;
    width: 18.18rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in;
}

.member-position{
    font-weight: 600;
    font-synthesis: 14px;
    line-height: 1rem;
}

.member-name{
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
}

.member-info{
    font-weight:400;
    font-size: 14px;
    line-height: 1.5rem;
}

.team-member-img:hover .team-member__box{
    visibility: visible;
    opacity: 0.7;
}

@media only screen and (max-width:776px){
    .team-member__box{
        width: 10.5rem;
    }
}